@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
* {
  font-family: "Rubik";
}

.transition {
  transition: all 0.5s;
}

body {
  margin: 0;
  padding: 0;
  max-width: 100vw;
  overflow-x: hidden;
  font-size: 16px;
}

body {
  background-color: #181818;
}

p {
  letter-spacing: 0.04rem;
  font-size: 1.125em;
  font-weight: 300;
  color: #bdbdbd;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: -0.02rem;
  color: #f0f0f0;
}

.limit {
  max-width: 1200px;
}

.gradientText {
  background: -webkit-linear-gradient(
    90deg,
    rgba(53, 158, 101, 1) 0%,
    rgba(30, 105, 64, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
